.row {
  color: #fff;
  margin-top: 2rem;
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  /* flex-direction: column; */
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.row_poster:hover {
  transform: scale(1.08)
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}

@media (max-width: 477px) {
  .row>h2 {
    font-size: 1.1rem;
  }

  .row_posters {
    padding: 20px 0;
    justify-content: center;
  }
}